menu "VOIP/PING Configuration"

    config PING_TARGET_ADDR
        string "Ping target IP address"
        default "127.0.0.1"
        help
            Destination IP address for ping

    config VOIP_HOSTNAME
        string "VOIP hostname"
        default "chicago1.voip.ms"
        help
            Hostname (server) used for VOIP account

    config VOIP_USERNAME
        string "VOIP username"
        help
            VOIP account username

    config VOIP_PASSWORD
        string "VOIP password"
        help
            VOIP account password

    config VOIP_CALL_NUMBER
        string "Number to call"
        help
            This number will be called when the program runs

endmenu
